.galleryArea {
    background-color: black !important;
    padding: 20px 0px 100px 0px !important;
}

@media screen and (min-width: 768px) {
    .galleryHeading {
        font-size: 35px !important;
        color: white !important;
        font-family: "AvenirNextLTPro-Bold" !important;
        font-weight: 600 !important;
        text-align: center !important;
        margin-bottom: 15px !important;
    }
}

@media screen and (max-width: 768px) {
    .galleryHeading {
        font-size: 25px !important;
        color: white !important;
        font-family: "AvenirNextLTPro-Bold" !important;
        font-weight: 600 !important;
        text-align: center !important;
        margin-bottom: 10px !important;
    }
}