.contactSection {
    margin-bottom: 50px !important;
    position: relative !important;
    width: 100% !important;
    overflow: hidden !important;
    padding-bottom: 150px !important;
}

.contactSectionOuter {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 20px !important;
}



.sectionTitle {
    font-size: 65px !important;
    color: black !important;
    filter: brightness(0.5) !important;
    line-height: 110% !important;
    margin: 0 !important;
    font-family: "Playfair Display", serif !important;
    font-weight: 400 !important;
    text-align: center !important;
    margin-bottom: 60px !important;
}

@media screen and (min-width:992px) and (max-width:1199px) {
    .sectionTitle {
        font-size: 50px !important;
        margin-bottom: 20px !important;
    }


}

@media screen and (min-width:991px) {
    .contactSectionInner {
        width: 700px !important;
    }
}

@media screen and (max-width:991px) {
    .sectionTitle {
        font-size: 38px !important;
        margin-bottom: 20px !important;
        text-align: center !important;
    }

    .contactSectionInner {
        width: 100% !important;
    }
}

.fieldLabel {
    font-family: "AvenirNextLTPro-Regular" !important;
    color: #8d8d8d !important;
    font-size: 14px !important;
    margin-bottom: 10px !important;
}

.submitButton {
    font-family: "AvenirNextLTPro-Regular" !important;
    text-transform: capitalize !important;
    border-radius: 0px !important;
    padding: 14px 35px !important;
    color: black !important;
    border: 1px solid black !important;
}

.cut {
    width: 200% !important;
    height: 50px !important;
    background-color: #fff !important;
    transform: skew(1deg, 4deg) !important;
    z-index: -1;
    box-shadow: 0px 11px 13px #0000000f;
    margin-top: 80px !important;
}