.agentInfoArea {
    margin-top: 40px !important;
}

.agentInfoHeading {
    font-size: 22px !important;
    color: black !important;
    font-family: "AvenirNextLTPro-Demi" !important;
}

.agentInfoContent {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    flex-direction: row !important;
    gap: 0px 10px !important;
    padding: 20px 0px !important;
}

.agentInfoContentDesc {
    flex: 1 !important;
}

.agentInfoContentName {
    color: #0064e5 !important;
    font-family: "AvenirNextLTPro-Demi" !important;
    font-size: 18px !important;
    cursor: pointer !important;
}

.agentInfoContentName:hover {
    text-decoration: underline !important;
}

.agentInfoContentInfo {
    color: #6c6c6c !important;
    font-family: "AvenirNextLTPro-Regular" !important;
    font-size: 16px !important;
}

.agentInfoContentInfoEmail {
    color: #6c6c6c !important;
    font-family: "AvenirNextLTPro-Regular" !important;
    font-size: 16px !important;
}

.agentInfoContentInfoEmail:hover {
    text-decoration: underline !important;
    color: #0064e5 !important;
}

.agentInfoContentNameBT {
    color: black !important;
    font-family: "AvenirNextLTPro-Regular" !important;
    font-size: 13px !important;
    margin-bottom: 3px !important;
}

@media screen and (max-width: 768px) {
    .contactTabsSm {
        display: flex !important;
        justify-content: flex-start !important;
        flex-direction: row !important;
        align-items: center !important;
    }

    .contactTabsSmItem {
        flex: 1 !important;
        border: 1px solid #dadada !important;
        border-radius: 4px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        color: black !important;
        font-family: "AvenirNextLTPro-Regular" !important;
        font-size: 15px !important;
        height: 35px !important;
        cursor: pointer !important;
        background-color: white !important;
    }

    .contactTabsSmItem:hover {
        background-color: #f4f4f4 !important;
    }

    .agentInfoArea {
        margin-bottom: 35px !important;
    }
}

@media screen and (min-width: 768px) {
    .contactTabsSm {
        display: none !important;
    }

    .agentInfoArea {
        margin-bottom: -35px !important;
    }
}